body {
  background-color: #242424;
  text-align: center;
  margin: 0 auto;
}

.col {
  display: flex;
  text-align: center;
  margin: 0 auto;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}
