.memo-card {
    width: min(15.5vh, 15.5vw);
    height: min(15.5vh, 15.5vw);
}

.col {
    padding: 0.5vh;
}
.memo-card .react-card-flip {
    height: 100%;
    width: 100%;
}
.memo-card-content {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-45deg, red, gold);
    border-radius: 16px;
}